html,
body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Lato, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  background-color: var(--background1, white);
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/ubuntu-regular-webfont.woff2') format('woff2'),
    url('./fonts/ubuntu-regular-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.woff2') format('woff2'),
    url('./fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
}

:root {
  --background1: rgb(255, 255, 255);
  --background2: rgb(89, 120, 163);
  --text1: rgb(0, 0, 0);
  --text2: rgb(255, 255, 255);
  --text-footer: rgb(209, 211, 219);
  /* font-size: 16px; */ /* Disables browser font size setting */
}

body {
  display: grid;
  grid-template: 2fr 4fr 40px/ 1fr;
}

header {
  grid-row: 1 / 2;

  display: flex;
  justify-content: center;
}

.background {
  height: 50%;
  width: 100%;
  background-color: var(--background2);
  box-shadow: 0px 0px 5px gray;

  position: absolute;
  z-index: -2;

  transform-origin: bottom left;
  transform: skewY(170deg);
}

.wrapper {
  display: flex;
  align-items: center;

  max-width: 750px;
  margin: 10px;
}

.picture-container {
  box-shadow: 0px 0px 5px gray;
  margin: 10px 0 10px 10px;

  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

.picture {
  display: block;
  max-height: 300px;
}

.name-text {
  position: absolute;

  margin: 0;
  color: white;
  text-shadow: 0px 0px 5px black;
  font-size: 1.8rem;
  font-weight: bold;
  bottom: 10px;
  left: 10px;
  z-index: 3;
}

.bio {
  background-color: var(--background1);
  height: fit-content;
  max-width: 550px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  box-shadow: 0px 0px 5px gray;
  line-height: 140%;

  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.float {
  display: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container.one {
  justify-content: end;
}

.logo {
  width: 25px;
  margin: 3px;
}

main {
  grid-row: 2 / 3;

  /*   display: grid;
  grid-template: 2fr 1fr / 1fr; */
}

.section {
  display: flex;
  justify-content: center;
}

.wrapper.two {
  display: block;
}

.my-work-heading {
  padding-left: 10px;
  margin: 0.5rem 0;
}

.tab-container {
  display: flex;
  flex-wrap: wrap;
}

.tab {
  width: calc((750px - (6 * 10px)) / 3);
  margin: 10px;
  box-shadow: 0px 0px 5px gray;
}

.tab-top {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 170px;
}

.tab.one > .tab-top {
  background-color: rgb(86, 86, 173);
}
.tab.two > .tab-top {
  background-color: rgb(94, 168, 195);
}
.tab.three > .tab-top {
  background-color: rgb(113, 208, 184);
}
.tab.four > .tab-top {
  background-color: rgb(56, 136, 63);
}
.tab.five > .tab-top {
  background-color: rgb(178, 204, 101);
}
.tab.six > .tab-top {
  background-color: rgb(233, 230, 144);
}

.tab-top > p {
  font-size: 1.5rem;
  text-align: center;
}

.tab-bottom {
  min-height: 100px;
  padding: 10px;
}

.tab-bottom:nth-child(2) > p {
  font-size: 0.75rem;
}

.tab-bottom-header {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: 100;
}

.logo-small {
  height: 24px;
  width: 24px;
  margin: 3px;
}

.logo-small.share {
  height: 22px;
  width: 22px;
}

.section.two {
  background-color: var(--background2);
}

.wrapper.three {
  align-items: start;

  flex-wrap: wrap;
}

.contact-me-heading {
  margin-top: 0;
}

.contact {
  width: 260px;
  margin: 10px;
  color: var(--text2);
}

.phone-container,
.email-container {
  display: flex;
  align-items: center;
}

.phone-container > p,
.email-container > p {
  margin: 0.5rem 0;
}

.logo-small.email {
  height: 30px;
}

.space {
  width: calc(750px - 260px - 420px - 40px);
}

.picture-two-container {
  margin: 10px;
}

.picture-two {
  display: block;
  max-height: 280px;
}

footer {
  grid-row: 3 / 4;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background2);
  height: 40px;
  font-size: 1rem;
  color: var(--text-footer);
}

@media (max-width: 800px) {
  body {
    background-color: rgb(225, 216, 216);
  }

  .wrapper {
    max-width: 500px;
    margin: 10px;
  }

  .wrapper.one {
    position: relative;
    max-width: 530px;
  }

  .picture-container.one {
    position: absolute;
  }

  .name-text {
    top: 20px;
    left: 160px;
    text-wrap: nowrap;

    text-shadow: 0px 0px 5px rgb(30, 30, 30);
  }

  .bio {
    margin: 90px 40px 10px 40px;
    padding: 10px 20px;
  }

  .float {
    display: inline;
    float: left;

    margin: 0 10px 0 0;
    width: 150px;
    height: 210px;
  }

  .wrapper.three {
    align-items: center;

    max-width: 530px;
  }

  .picture-two {
    display: block;
    height: 280px;
    width: 200px;
    object-fit: cover;
  }
}
